.gamba {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */

  color: beige;
  background-color: #0b0a08;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* align-items: center; */
  justify-content: center;
  align-content: center;
}

.gamba img {
  width: 85px;
  height: 112px;
}

.gamba button {
  border: none;
  margin-top: 1em;
  border-radius: 5px;
  font-size: 1.03em;
}
